@model QuanLyKhachSan.Models.OrderModel
@{
    ViewBag.Title = "Home Page";
}

@section Masthead{
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
        </div>
    </header>
}

@section About{
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Về chúng tôi</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-6 ml-auto">
                    <h4>Lịch sử:</h4>
                    <p class="lead">Thắp sáng bản đồ ngành lưu trú Việt Nam, khẳng định vị thế vững chắc cho riêng mình, Tập đoàn Khách sạn Mường Thanh đã tạo được chỗ đứng trong lòng khách hàng và du khách trong và ngoài nước. Là Hệ thống Khách sạn tư nhân lớn nhất tại Đông dương, Mường Thanh tự hào sở hữu gần 60 khách sạn với sức chứa hơn 10.000 phòng, tạo việc làm và môi trường phát triển cho hơn 10.000 lao động, đóng góp vào ngân sách quốc gia hàng ngàn tỷ đồng mỗi năm. Những thành quả ấn tượng đó được Mường Thanh hình thành và phát triển qua bề dày hơn 25 kinh nghiệm, sự đồng lòng tập thể và khát vọng không ngừng hoàn thiện và phát triển kinh doanh song hành mang lại lợi ích bền vững cho đất nước và con người Việt.</p>
                </div>
                <div class="col-lg-6 mr-auto">
                    <h4>Sứ mệnh:</h4>
                    <p class="lead">
                        Sứ mệnh của Tập đoàn khách sạn Mường Thanh là cung cấp sản phẩm và dịch vụ khách sạn gắn liền với sự gìn giữ và phát triển các giá trị Việt.
                        Giá trị Việt được Mường Thanh gìn giữ xây dựng trên chính những đức tính tốt đẹp của con người Việt, với niềm tin rằng du khách đặt chân đến mọi miền Việt Nam đều xứng đáng được trải nghiệm trọn vẹn nhất sự.
                    </p>
                    <h4>Tầm nhìn:</h4>
                    <p class="lead">
                        Mường Thanh không ngừng khát vọng và nỗ lực vươn tới mục tiêu trở thành Đại diện quốc gia ngành khách sạn Việt Nam.
                        Hiện nay, Tập đoàn khách sạn Mường Thanh là thương hiệu thuần Việt, sở hữu hệ thống chuỗi khách sạn nội địa lớn nhất Việt Nam.
                    </p>
                </div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="http://muongthanh.com/">Xem thêm tại đây!</a>
            </div>
        </div>
    </section>
}

@section Special{
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nổi bật</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://www.hoteljob.vn/files/Anh-Hoteljob-Ni/Nam-2019/Bo-sung/luong-nhan-vien-le-tan-khach-san-4-5-sao-01.jpg" alt="overview" />
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://vietnamhoinhap.vn/local/resources/uploads/userfiles/images/suite.jpg" alt="tiennghi" />
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://previews.123rf.com/images/sarymsakov/sarymsakov1702/sarymsakov170200119/72244364-delicious-breakfast-for-two-at-the-luxury-hotel-.jpg" alt="breakfast" />
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="http://muongthanh.com/images/gallery/2019/06/14/original/dn2.jpg" alt="view" />
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="http://muongthanh.com/images/Blog%20Du%20l%E1%BB%8Bch/Hu%E1%BA%BF%209.jpg" alt="travel" />
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://bluecons.vn/wp-content/uploads/2019/09/spa.jpg" alt="spa" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- Specials--><!-- Special 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Special - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Sự thoải mái</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="http://muongthanh.com/images/trademark/intro/2019/06/normal/mt_behome-2_1560495831.jpg" alt="" /><!-- Special - Text-->
                            <p class="mb-5">Không gian ấm cúng được chăm chút bởi đội ngũ nhân viên chân thành, Mường Thanh sẽ mang lại cảm giác gần gũi, thoải mái nhất như thể bạn đang ở chính ngôi nhà của mình.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Special - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tiện nghi</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="http://muongthanh.com/images/trademark/intro/2019/04/normal/muongthanh_1_1554889433.jpg" alt="" /><!-- Special - Text-->
                            <p class="mb-5">Tại khách sạn Mường Thanh, chúng tôi luôn nỗ lực để đem lại sự thoải mái, làm hài lòng và mang lại khoảng thời gian đáng nhớ cho du khách. Chúng tôi dành cả thời gian và công sức cho những điều nhỏ bé vì chúng tôi hiểu rằng chính những điều nhỏ bé có thể tạo nên sự khác biệt lớn lao</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Special - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Thức ăn</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="https://www.cotswolds88hotel.com/wp-content/uploads/2018/09/spaghetti.jpg" alt="" /><!-- Special - Text-->
                            <p class="mb-5">Đội ngũ đầu bếp chuyên nghiệp cùng với sự tân tâm, chúng tôi sẽ mang đến quý khách những món ăn đa dạng và giàu dinh dưỡng.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Special - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">View</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="https://www.sivule.com/wp-content/uploads/2017/10/havana-hotel-e1508222492728.jpg" alt="" /><!-- Special - Text-->
                            <p class="mb-5">Tầm nhìn cao và hướng biển mang lại những trải nghiệm tuyệt vời sẽ tạo cho quý khách kì nghỉ dưỡng khó quên.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Tour du lịch">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Special - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="http://muongthanh.com/images/Blog%20Du%20l%E1%BB%8Bch/Hu%E1%BA%BF%208.jpg" alt="" /><!-- Special - Text-->
                            <p class="mb-5">Mường Thanh sẽ đưa quý khách đến những địa điểm nổi bật của thành phố, hãy để chúng tôi mang đến cho quý khách những chuyến đi và phong cảnh lãng mạng nhé! </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Special - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Massage</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="https://ezcloud.vn/wp-content/uploads/2019/04/tam_trang_da-768x576.jpg" alt="" /><!-- Special - Text-->
                            <p class="mb-5">Massage thư giãn là dịch vụ không thể thiếu khi du khách muốn có nhu cầu spa tại khách sạn. Khách du lịch đi nghỉ dưỡng có cơ hội sử dụng liệu pháp xoa bóp để giảm đau nhức cơ – như một liều thuốc giảm đau tự nhiên, đồng thời cũng giúp giảm stress – căng thẳng và giúp tăng cường hệ thống miễn dịch.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>